* {
  box-sizing: border-box;
}

body {
  background-color: #fff;
  font-family: $ff_base;
  font-size: 16px;
  line-height: 1.5;
  color: $c_text;
}

//h1, h2, h3 {
//  font-weight: 700;
//  font-family: $ff_second;
//}

//a {
//  color: #FB540D;
//  text-decoration: none;
//
//  &:hover {
//    text-decoration: underline;
//  }
//}

//img {
//  display: inline-block;
//  max-width: 100%;
//  vertical-align: middle;
//}

//svg {
//  display: inline-block;
//  vertical-align: middle;
//}

//table {
//  width: 100%;
//  border-collapse: collapse;
//}